/* Some simple css grid layout examples used in creating the css in this file:
 *    https://www.w3schools.com/css/css_rwd_mediaqueries.asp
 * And limiting of div heights:
 *    https://stackoverflow.com/questions/25098042/
 *      fill-remaining-vertical-space-with-css-using-displayflex
 * */

* {
  box-sizing: border-box;
}

html {
    background-color: #181817;
    font-family: "Lucida Sans", sans-serif;
    height: 100%;
}

body {
    height: 98vh;
}

.row-header, .row-footer {
    background-color: #212021;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 8px;
    margin: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.flex-col-parent {
    /* Children of this parent will be aligned in columns and will fill this
     * parent without overflowing it */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.flex-child {
    /* Set flex to 1 and it will fill whole space left if no flex value are set
     * to other children*/
    flex: 1;
    display: flex;
    overflow: hidden;
}

.flex-row-parent {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.big-column-div {
    background-color: #212021;
    padding: 0px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.scrollingDiv
{
    flex-grow: 1;
    overflow:auto;
    overflow-x:hidden;
    display: flex;
    flex-direction: column;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
    background-color: #0099cc;
}

[class*="col-"] {
  float: left;
  padding: 4px;
    display: flex;
    flex-direction: column;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

/* For tablets: */
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}

/* For desktop: */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
