/* https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #918e8e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #544c4c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #363333;
}
